.todo-text {
  background-image: linear-gradient(white, white);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 0% 2px;
  text-decoration: none;
  transition: background-size 500ms ease-in-out;
}

.todo-text-active {
  background-size: 100% 2px;
  color: inherit;
}

@media (prefers-color-scheme: light) {
  .todo-text {
    background-image: linear-gradient(black, black);
  }
}